<launch>
	
	<!-- Start the DJI SDK -->
	<include file="$(find dji_sdk)/launch/sdkM.launch"/>

	<!-- Vision node -->
	<group ns="jetyak_uav_vision">
		<!-- Filter node -->
		<node name="filter" pkg="jetyak_uav_utils" type="filter_node.py" output="screen"/>

		<!-- Start the camera and gimbal controller -->
		<include file="$(find dji_camera)/launch/jetyak2bundle.launch"/>

		<!-- Start the tag positioning -->
		<node pkg="jetyak_uav_utils" type="gimbal_tag_node" name="gimbal_tag_node" output="screen" >
			<param name="isM100" type="bool" value="true" />
		</node>
	</group>

</launch>